{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html>
  <body class="is-preload">
    {% block content %}

    <div id="main">
      
      <ul class="actions special">
        <li>
          <a href="{% url 'members:regular' %}" class="button large"
            >Order by Year</a>
        </li>
        <li>
          <a href="{% url 'members:premium' %}" class="button large"
            >Order Alphabetically</a>
        </li>
        <li>
          <a class="button large" id="drop" onclick="revealdrop('drop')" >Filter Genre</a>
          <p style="z-index: 1 !important; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important; margin-bottom: auto !important">
            {% for genre in genres %}
            <form action="{% url 'members:watchlist' request.user.id %}"
                method="POST" id="submitstuff{{ forloop.counter }}" style="margin-bottom: 0 !important;">
                {% csrf_token %}
            <input type="hidden" name="genre" value="{{ genre }}">
            <a class="button large" 
            style="-webkit-box-shadow: 0 0 1px #000 !important; height: 1rem !important; line-height: 1rem !important; display: none !important"
            id="droplist{{ forloop.counter }}" onclick="document.getElementById('submitstuff{{ forloop.counter }}').submit();">{{ genre }}</a>
            </input>
          </form>
            {% endfor %}
          </p>
        </li>
      </ul>
      
      <hr style="width: 90% !important; margin-left: 5%; border-bottom: 0;" />

      <section class="posts" style="border-top: 0;">
        {% for movie in movies %}
        <article>
          <header>
            <span class="date">{{ movie.raw | get_movie_year }}</span>
            <h2>
              <a href="{% url 'home:movie-details' movie.id %}"
                >{{ movie.raw | get_movie_name }}</a
              >
            </h2>
          </header>
          <a href="{% url 'home:movie-details' movie.id %}" class="image fit"
            ><img src="{{ movie.raw | get_movie_cover }}" alt=""
          /></a>
          <!-- <p>{{ movie.raw | get_movie_description }}</p> -->
          <ul class="actions special">
            <li>
              <a href="{% url 'home:movie-details' movie.id %}" class="button"
                ><i class="fa-solid fa-trash-can"></i>Remove from Watchlist</a
              >
            </li>
          </ul>
        </article>
        {% endfor %}
      </section>
    </div>
    {% endblock content %}
  </body>
</html>
