{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html>
  <body class="is-preload">
    {% block content %}

    <div id="main">
      <ul class="actions special">
        <li>
          <a href="{% url 'members:regular' %}" class="button large"
            >Get Regular</a>
        </li>
        <li>
          <a href="{% url 'members:premium' %}" class="button large"
            >Get Premium</a>
        </li>
        <li>
          <a href="{% url 'members:pro' %}" class="button large"
            >Get Pro</a>
        </li>
      </ul>
      <hr style="width: 90% !important; margin-left: 5%; border-bottom: 0;" />

      <section class="posts" style="border-top: 0;">
        {% for movie in movies %}
        <article>
          <header>
            <span class="date">{{ movie.raw | get_movie_year }}</span>
            <h2>
              <a href="{% url 'home:movie-details' movie.id %}"
                >{{ movie.raw | get_movie_name }}</a
              >
            </h2>
          </header>
          <a href="{% url 'home:movie-details' movie.id %}" class="image fit"
            ><img src="{{ movie.raw | get_movie_cover }}" alt=""
          /></a>
          <!-- <p>{{ movie.raw | get_movie_description }}</p> -->
          <ul class="actions special">
            <li>
              <a href="{% url 'home:movie-details' movie.id %}" class="button"
                ><i class="fa-solid fa-trash-can"></i>Remove from Watchlist</a
              >
            </li>
          </ul>
        </article>
        {% endfor %}
      </section>
    </div>
    {% endblock content %}
  </body>
</html>
