<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tutorial</title>
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static '../static/assets/css/style.css'%}" />
    <meta name="robots" content="noindex,follow" />
  </head>

  <body>
    <main class="container">
      <!-- Left Column / Headphones Image -->
      <div class="left-column">
         <img src="{% static '../static/images/cover.jpg' %}"/>
      </div>

      <!-- Right Column -->
      <div class="right-column">
        <!-- Product Description -->
        <div class="product-description">
          <span>Movie Details</span>
          <h1>Movie Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">
          <!-- Product Color -->
          <div class="product-color">
            <span>Actions</span>

            <div class="color-choose">
              <div>
                <input
                  data-image="red"
                  type="radio"
                  id="red"
                  name="color"
                  value="red"
                  checked
                />
                <label for="red"><span></span></label>
              </div>
              <div>
                <input
                  data-image="blue"
                  type="radio"
                  id="blue"
                  name="color"
                  value="blue"
                />
                <label for="blue"><span></span></label>
              </div>
              <div>
                <input
                  data-image="black"
                  type="radio"
                  id="black"
                  name="color"
                  value="black"
                />
                <label for="black"><span></span></label>
              </div>
            </div>
          </div>

        <!-- Product Pricing -->
        <div class="product-price">
          <span>Needs Premium User!</span>
          <a href="#" class="cart-btn">Get Premium</a>
        </div>
      </div>
    </main>

    <!-- Scripts -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
      charset="utf-8"
    ></script>
    <script src="{% static '../static/assets/js/script.js'%}" charset="utf-8"></script>
  </body>
</html>
