<!DOCTYPE html>
<html>
  <body>
    <div id="intro">
      <h1>AI<br />For You</h1>
      <p>
        AI Powered Open Source Tool that helps you find the right movie<br />IMDB
        TOP 250 Database
      </p>
      <ul class="actions">
        <li>
          <a href="#header" class="button icon solid solo fa-arrow-down scrolly"
            >Continue</a
          >
        </li>
      </ul>
    </div>
    <header id="header">
      <a href="index.html" class="logo">AI For You</a>
    </header>
    <nav id="nav">
      <ul class="links">
        <li class="active"><a href="index.html">IMDB Top 250 Movies</a></li>
        {% if user.is_authenticated %}
        <form class="d-flex" method=POST action="{% url 'home:movie-search' %}">
        {% csrf_token %}
        <input class="form-control" type="search" placeholder="Search Movie" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
        <li><a href="{% url 'home:profile' request.user.id %}">Profile</a></li>
        {% else %}
        <li><a href="{% url 'members:login_user' %}">Login</a></li>
        <li><a href="{% url 'members:register' %}">Register</a></li>
        {% endif %}
      </ul>
      <ul class="icons">
        <li>
          <a href="#" class="icon brands fa-github"
            ><span class="label">GitHub</span></a
          >
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'members:logout' %}" class="fas fa-sign-out-alt"></a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </body>
</html>
