<!DOCTYPE html>
<html>
  <body>
    <div id="intro">
      <h1>AI<br />For You</h1>
      <p>
        AI Powered Open Source Tool that helps you find the right movie<br />IMDB
        TOP 250 Database
      </p>
      <ul class="actions">
        <li>
          <a href="#header" class="button icon solid solo fa-arrow-down scrolly"
            >Continue</a
          >
        </li>
      </ul>
    </div>
    <header id="header">
      <a href="index.html" class="logo">AI For You</a>
    </header>
    <nav id="nav">
      <ul class="links">
        <li class="active"><a href="index.html">IMDB Top 250 Movies</a></li>
        <li><a href="{% url 'home:login' %}">Login</a></li>
        <li><a href="{% url 'home:register' %}">Register</a></li>
        <li><a href="{% url 'home:details' %}">Details</a></li>
      </ul>
      <ul class="icons">
        <li>
          <a href="#" class="icon brands fa-github"
            ><span class="label">GitHub</span></a
          >
        </li>
      </ul>
    </nav>
  </body>
</html>
