{% load static %}
<!DOCTYPE html>
<html>
  <body>
    <div id="intro">
      <h1>AI<br />For You</h1>
      <p>
        AI Powered Open Source Tool that helps you find the right movie<br />IMDB
        TOP 250 Database
      </p>
      <ul class="actions">
        <li>
          <a href="#header" class="button icon solid solo fa-arrow-down scrolly"
            >Continue</a
          >
        </li>
      </ul>
    </div>
    <header id="header">
      <a href="{% url 'home:home_page' %}" class="logo">AI For You</a>
    </header>
    <nav id="nav">
      <ul class="links">
        <li class="{% if 'top' in request.path %} active {% endif %}"><a href="{% url 'home:home_page' %}">IMDB Top 250 Movies</a></li>
        {% if user.is_authenticated %}
        <li class="{% if 'Profile' in request.path %} active {% endif %}"><a href="{% url 'members:logged_profile_user' %}">Profile</a></li>
        {% else %}
        <li class="{% if 'login' in request.path %} active {% endif %}"><a href="{% url 'members:login_user' %}">Login</a></li>
        <li class="{% if 'register' in request.path %} active {% endif %}"><a href="{% url 'members:register' %}">Register</a></li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <form style="display: inline !important; margin-bottom: 0px !important;padding-left: 55% !important;" class="d-flex" method=POST action="{% url 'home:movie-search' %}">
        {% csrf_token %}
        <input style="display: inline !important; width: 80% !important; height: 45% !important; font-size: medium !important;"
        class="form-control" type="text" placeholder="Search Movie" aria-label="Search" name="searched">&nbsp;
        <button id="-search-btn-" onmouseout="searchbuttonout('-search-btn-')" onmouseover="searchbuttonover('-search-btn-')" class="fas fa-search"
        style="color: #ffffff !important; line-height: 0 !important; height: inherit !important;display: inline !important; padding-left: 0 !important; padding-right: 0 !important; border: 0px !important; outline: 0px !important;" type="submit">
        </button>
      </input>
      </form>
      {% endif %}
      <ul class="icons">
        {% if user.is_authenticated %}
        <li style="padding-right: 0 !important;">
          {% else %}
        <li>
          {% endif %}
          <a href="#" class="icon brands fa-github"
            ><span class="label">GitHub</span></a
          >
        </li>
        {% if user.is_authenticated %}
        <li>
          {% if request.user.profile_pic %}
          <a href="{% url 'members:logged_profile_user' %}">
          <img
            src="{{ request.user.profile_pic.url }}"
            style="max-width: 28px; max-height: 28px; border-radius: 50%; vertical-align: -5%;"
          />
          </a>
          {% else %}
          <a href="" class="image fit"
            ><img src="{% static 'default-user-image.png' %}"
                  style="max-width: 28px; max-height: 28px; border-radius: 50%; vertical-align: -5%;"
                  />
          </a>
          {% endif %}
        </li>
        <li>
          <a href="{% url 'members:logout' %}" class="fas fa-sign-out-alt"></a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </body>
</html>
