{% extends 'base.html' %}
<html>
  <body class="is-preload">
    {% block content %}
    <section id="main">
      <form method="post" action="#">
        <div class="fields">
          <div class="field">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Login" /></li>
        </ul>
      </form>
    </section>
    {% endblock content %}
  </body>
</html>
