{% extends 'base.html' %}
<html>
{% block extrastyle %}
  <style>
    .btn-close {
      box-shadow: inset 0 0 0 2px #ffffff !important;
    }
  </style>
  {% endblock extrastyle %}
  <body class="is-preload">
    {% block content %}
    <section id="main">

      {%if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
      {% endfor %}
      {% endif %}
      <form method="post" action="#">
        {% csrf_token %} {{form.as_p}}

        <ul class="actions">
          <li><input type="submit" value="Login" /></li>
        </ul>
      </form>
    </section>
    {% endblock content %}
  </body>
</html>
